.news-wrap{
    display: flex;
    flex-wrap: wrap;    
}
.close-icon{
    font-size: 2em;
    font-weight: bold;
}
.close-icon:hover{
    cursor: pointer;
}
.news-item{
    width: 32.5%;
    margin: 0 .3rem 1rem 0;
}
@media screen and (max-width:792px){
    .news-item{
        width: 100%;
    }
}